// .button{
//     border: none;
//     outline: none;
//     padding-inline: 1.5rem;
//     padding-block: 0.75rem;
//     border-radius: 1rem;
//     cursor: pointer;

//     transition: all 0.3s ease-in-out;

    

//     &.primary-button{
//         background-color: #e1034d;
//         color: white;
//     }


//     &:active{
//         transform: scale(0.9);
//     }
// }





.button {
  border: none;
  outline: none;

  padding: 0.8rem 1.6rem;

  border-radius: 0.7rem;

  font-weight: 500;

  cursor: pointer;

  transition: all 0.25s ease;

  &.primary-button {
    background: linear-gradient(135deg, #ff0055, #ff6a00);

    color: white;

    box-shadow:
      0 8px 18px rgba(255,0,85,0.4);

    &:hover {
      transform: translateY(-2px);

      box-shadow:
        0 12px 25px rgba(255,0,85,0.5);
    }
  }

  &:active {
    transform: scale(0.94);
  }
}